<ul class="w-full">
  <% @support_requests.each do |support_request|  %>
    <li>
      <h1 class="text-xl font-semibold">
        On <%= support_request.created_at.to_formatted_s(:long) %>
        <code><%= support_request.email %></code> writes:
      </h1>
      <p>
        <blockquote class="ml-5 normal-case font-light text-lg my-2">
          <h2 class="font-medium"><%= support_request.subject.capitalize %></h2>
          <p class="mt-1"><%= support_request.body.capitalize %></p>
        </blockquote>
      </p>
      <% if support_request.order %>
        <h3 class="font-semibold">Recent Order:</h3>
        <div class="notice font-normal py-2">
          <h4>Name</h4>
          <p class="ml-5 font-semibold normal-case"><%= support_request.order.name.capitalize %></p>
            
          <h4>Email</h4>
          <p class="ml-5 font-semibold lowercase"><%= support_request.order.email %></p>

          <h4>Address</h4>
          <p class="ml-5 font-semibold"><%= support_request.order.address.capitalize %></p>

          <h4>PayType</h4>
          <p class="ml-5 font-semibold"><%= support_request.order.pay_type.capitalize %></p>

          <h4>Line Items</h4>
          <p>
              <ul>
                <% support_request.order.line_items.each do |line_item| %>
                  <li class="ml-10 font-semibold list-disc">
                    <%= line_item.product.title %>
                    ($ <%= line_item.product.price %>)
                  </li>
                <% end %>
              </ul>
          </p>
        </div>
        <% else %>
          <h3 class="notice text-center py-2">No associated order ¯\_(ツ)_/¯</h3>
      <% end %>
      <hr class="my-5">
    </li> 
  <% end %>
</ul>