<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center pb-8">
    <h1 class="mx-auto font-bold text-4xl">Orders</h1>
  </div>

  <table id="orders" class="mx-auto">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">E-mail</th>
        <th scope="col">Pay type</th>
        <th scope="col">Created order</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
          <tr class="my-2 p-2 <%= cycle('bg-green-50', 'bg-white') %>  text-lg">
            <td class="px-3 py-5"><%= order.id %></td>
            <td class="px-3"><%= order.name %></td>
            <td class="px-3"><%= order.address %></td>
            <td class="px-3"><%= order.pay_type %></td>
            <td class="px-3"><%= order.email %></td>
            <td class="px-3"><%= order.created_at.to_formatted_s(:long) %></td>          
          </tr>
      <% end %>
    </tbody>
  </table>
</div>