<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-green-700 flex justify-between items-center fixed top-0 left-0 right-0 z-50">
      <a href="/"><%= image_tag 'logo.svg', alt:  'The Pragmatic Bookshelf' %></a>

      <ul class="text-gray-300 leading-8 gap-5 flex flex-row">
        <li class="hover:text-white hover:underline transition-all duration-200"><%= link_to t('.home'), store_index_path %></li>
        <li class="hover:text-white hover:underline transition-all duration-200"><%= link_to t('.questions'), questions_path %></li>
        <li class="hover:text-white hover:underline transition-all duration-200"><%= link_to t('.news'), news_path %></li>
        <li class="hover:text-white hover:underline transition-all duration-200"><%= link_to t('.contact'), contact_path %></li>
        <li><a href="/admin" class="hover:text-white hover:underline transition-all duration-200 <%= session[:user_id] ? "hidden" : "block" %>">Log in</a></li>
      </ul>

      <time class="text-white text-2xl m-4">
        <%= Time.now.strftime("%H:%M:%S") %>
      </time>
    </header>

    <section class="flex">
        <nav class="bg-green-900 p-6 overflow-scroll min-h-screen">
          <div class="sticky top-20 z-0">
            <%= render partial: 'layouts/cart', locals: { cart: @cart } %>

            <% if session[:user_id]%>
              <ul class="text-gray-300 leading-8 min-w-[100px]">
                <li class="text-bold text-center"><%= User.find(session[:user_id]).name %></li>
                <li><hr class="my-2"></li>
                <li class="hover:text-white hover:underline transition-all duration-200"><%= link_to t('.orders'), orders_path %></li>
                <li class="hover:text-white hover:underline transition-all duration-200"><%= link_to t('.products'), products_path %></li>
                <li class="hover:text-white hover:underline transition-all duration-200"><%= link_to t('.users'), users_path %></li>
                <li><%= button_to t('.logout'), logout_path, method: :delete, class: 'text-red-500 hover:underline transition-all duration-200' %></li>
              </ul>
            <% end %>
          </div>
        </nav>


      <main class="container mx-auto mt-24 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
